version: '3.4'

services:
  fysio_api:
    image: fysioregister.azurecr.io/fysioapi:latest
    build:
      context: .
      dockerfile: Fysio_API/Dockerfile
    depends_on:
     - postgresql_database

  postgresql_database:
    image: postgres:latest
    environment: 
            - POSTGRES_USER=admin
            - POSTGRES_PASSWORD=adminadmin
            - POSTGRES_DB=FysioDb
    ports: 
        - "5432:5432"
    restart: unless-stopped
    volumes: 
        - database-data:/var/lib/postgresql/data

  pgadmin:
     image: dpage/pgadmin4
     environment: 
            - PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
            - PGADMIN_DEFAULT_PASSWORD=admin
     ports: 
            - "5050:80"
     restart: unless-stopped
     volumes: 
            - pgadmin:/root/.pgadmin
volumes: 
    database-data: 
    pgadmin: 
